package frontend

import "fmt"
import "math"
import "time"

templ Page(content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
			<title>WT-Heatmaps</title>
			<link href="/static/style.css" rel="stylesheet"/>
			<script src="/static/htmx.min.js"></script>
			// <script src="/static/htmx-ext-ws.min.js"></script>
		</head>
		<body>
			<style>
				.title{font-weight: bold;font-size: larger;margin-right: 1em;}
				.header > span > a {margin-right: 1em;}
			</style>
			<nav class="header">
				<span class="title">War Thunder Heatmaps</span>
				<span><a href="/">View</a></span>
				<span><a href="/stats">Stats</a></span>
				<span><a href="/about">About</a></span>
				<span style="float: right;"><small>by flexcoral</small></span>
			</nav>
			@content
		</body>
	</html>
}

templ Waitroom() {
	<div>
		<h2>Please wait</h2>
		<p>Getting data ready for you...</p>
		<p><small><i>This page will refresh periodically</i></small></p>
	</div>
}

type LevelStat struct {
	Level        string
	LevelDisplay string
	Samples      int
}

templ Index(levels []LevelStat, battleRatingMax int) {
	<div class="content">
		<div class="map">
			<svg id="mapview" width="100%" height="100%">
				<style>
					#tankmap {
						filter: brightness(35%)
					}
				</style>
				<text x="200" y="280" style="font: bold 80px sans-serif; fill: #ddd;">
					Select the map and press "Load"
				</text>
				<text x="200" y="380" style="font: normal 40px sans-serif; fill: #aaa;">
					Data is being rendered in real time with a LOT of data points on very low power hardware,
				</text>
				<text x="200" y="420" style="font: normal 40px sans-serif; fill: #aaa;">
					please be patient, it can take few seconds for it to load.
				</text>
				<image style="image-rendering: pixelated;" id="tankmap"></image>
				<image style="image-rendering: pixelated; width:2048px; height:2048px" id="heat"></image>
			</svg>
		</div>
		<div id="settingsDiv" style="max-width: 600px" class="settings">
			<p>
				This project renders kill-death delta for each map pixel (meter) on the given
				War Thunder ground map. Database contains only ground to ground kills and deaths, player account IDs,
				vehicle names, weapon (ammo) used and their positions. Only from realistic battles mode.
				<br/>
				Blue indicates more people died there than made kills, red is reverse.
				Logically, avoid being at blue spots and go to or check out red ones.
				Black is used as intermediary color to show available but fair positions.
				<br/>
				Also clearly shows comically overpowered or absurd positions.
				<br/>
				Controls: drag to pan, scroll to zoom, double click to reset viewport
			</p>
			<p>Display settings:</p>
			<form id="settingsForm">
				<p>
					<label for="level">Map:</label>
					<button type="button" popovertarget="levelSelector">Select</button>
					<input id="settingsFormLevelInput" name="level" readonly/>
					<div popover id="levelSelector">
						<center><b>Select map:</b></center>
						<table>
							<thead>
								<tr>
									<th>Level name<br/>Data points</th>
									<th>Image</th>
								</tr>
							</thead>
							<tbody>
								for _, v := range levels {
									<tr>
										<td>
											<center>
												<button type="button" onclick="document.getElementById('settingsFormLevelInput').value = this.dataset.levelSelectValue;" data-level-select-value={ v.Level } popovertargetaction="hide" popovertarget="levelSelector">{ v.LevelDisplay }</button>
												<div>
													Samples: { v.Samples }
												</div>
											</center>
										</td>
										<td><img src={ "/minimap/128/" + v.Level } width="128" height="128"/></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</p>
				<p>
					<label for="scoreIntensity">Exposure</label>
					<input name="scoreIntensity" type="number" value="32" min="1" max="255"/>
					<label for="countIntensity">Brightness</label>
					<input name="countIntensity" type="number" value="32" min="1" max="255"/>
					<br/>
					<small>
						Following multipliers directly control k/d score exposure and intensity (brightness):
						<br/>
						exposure being how big of a delta sways to red/green (bigger ⇒ more solid colors) and
						<br/>
						brightness being amount of data points available (bigger ⇒ less transparent).
						<br/>
						For example, 8+64 can be used to find <i>especially high</i> k/d positions while dimming down
						floating noise whereas 64+255 will just fill the screen with the "average",
						no matter how much data is available or how conclusive it might be.
					</small>
				</p>
				<p>
					<label for="killerTeam">Killer team:</label>
					<input name="killerTeam" type="number" value="" min="1" max="2"/>
				</p>
				<p>
					<label for="killTimeMin">Kill time (seconds) min</label>
					<input name="killTimeMin" type="number" value="" min="0" max="1800"/>
					<label for="killTimeMax">max</label>
					<input name="killTimeMax" type="number" value="" min="0" max="1800"/>
					<br/>
					<small>First <i>spawns</i> actually occur at around 40 second mark, offset filters accordingly.</small>
				</p>
				<p>
					Killer vehicle BR from
					@brSelector("killerBattleRatingMin", battleRatingMax)
					to
					@brSelector("killerBattleRatingMax", battleRatingMax)
					<br/>
					Victim vehicle BR from
					@brSelector("victimBattleRatingMin", battleRatingMax)
					to
					@brSelector("victimBattleRatingMax", battleRatingMax)
				</p>
				<p>
					<button type="submit" id="settingsSubmitBtn"><span style="font-size: larger;font-weight: bold;">Load</span></button>
				</p>
			</form>
			<p>
				<div><label for="brightness">Map brightness</label></div>
				<input id="tankmapBrightnessSlider" name="brightness" type="range" min="0" max="100" value="35"/>
			</p>
			<div id="offsetsDisplay"></div>
			<div id="msgDisplay"></div>
		</div>
	</div>
	<script type="module" src="/static/main.js"></script>
}

templ brSelector(name string, battleRatingMax int) {
	<select name={ name }>
		<option selected></option>
		for i := range battleRatingMax+1 {
			{{
				rem := i % 3
				switch rem {
				case 1:
					rem = 3
				case 2:
					rem = 7
				}
			}}
			<option value={ i }>{ fmt.Sprintf("%d.%d", 1+i/3, rem) }</option>
		}
	</select>
}

type StatsTable struct {
	Caption      string
	ColumnLabels []string
	Rows         [][]templ.Component
}

templ Stats(stats []StatsTable, updatedAt time.Time, ingestStatSessionRate5m, ingestStatKillsRate5m int) {
	<style>
		.stats {
			display: flex;
			justify-content: space-evenly;
		}
		.stat {
			padding: 1em;
		}
	</style>
	<div style="text-align: center;">
		Updated at: { updatedAt.Format(time.DateTime) }
		({ time.Since(updatedAt).Round(time.Minute).String() } ago)
		Ingest rate: { ingestStatSessionRate5m } sessions { ingestStatKillsRate5m } kills per 5 minutes
	</div>
	<div class="stats">
		for _, t := range stats {
			<div class="stat">
				<table>
					<caption style="caption-side: top">{ t.Caption }</caption>
					<thead>
						<tr>
							for _, v := range t.ColumnLabels {
								<th>{ v }</th>
							}
						</tr>
					</thead>
					<tbody>
						for _, r := range t.Rows {
							<tr>
								for _, v := range r {
									<td>
										@v
									</td>
								}
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
	</div>
}

templ StatElementFixedPercentBar(percent float64) {
	<span class="statBarGreen" style={ fmt.Sprintf("width: %dpx", int(math.Round(100*percent))) }></span><span class="statBarGray" style={ fmt.Sprintf("width: %dpx", int(math.Round(100*(1-percent)))) }></span>
}

templ TextNode(content string) {
	{ content }
}

// templ MapUpdateError(err error) {
// 	<div hx-swap-oob="true" id="msgDisplay">
// 		{ err.Error() }
// 	</div>
// }

// type MapUpdateParams struct {
// 	Level      string
// 	HeatParams url.Values
// }

// templ MapUpdate(params MapUpdateParams) {
// 	<template>
// 		<svg>
// 			<image hx-swap-oob="true" id="tankmap" href={ "/minimap/" + params.Level }></image>
// 			<image hx-swap-oob="true" id="heat" href={ "/heat?" + params.HeatParams.Encode() }></image>
// 		</svg>
// 	</template>
// 	// <div hx-swap-oob="true" id="offsetsDisplay">
// 	// 	<pre>{ spew.Sdump(params.Offsets) }</pre>
// 	// </div>
// 	// <div hx-swap-oob="true" id="msgDisplay">
// 	// 	{ params.Msg }
// 	// </div>
// }
